  <p>
    &quot;<%= tweet["tweet"] %>&quot;

    <br/> &ndash; <%= tweet["author"] %>
  </p>

  <p>
    Profile: <a>https://x.com/<%= tweet["profile_name"] %>
  </p>

  <p>
    User agent: <%= ua %>
  </p>

  SHOW PAGE